@model shop.ViewModels.Catalog.Carts.ShowCartResult;
@inject Microsoft.Extensions.Configuration.IConfiguration Configuration;

<!-- Cart Start -->
<div class="cart-page">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8">
                <div class="cart-page-inner">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead class="thead-dark">
                                <tr>
                                    <th>Product</th>
                                    <th>Price</th>
                                    <th>Quantity</th>
                                    <th>Total</th>
                                    <th>Remove</th>
                                </tr>
                            </thead>
                            <tbody class="align-middle">
                                @foreach (var item in Model.ListCartDetail)
                                {
                                    <tr>
                                        <td>
                                            <div class="img">
                                                <a href="#">
                                                    <img src="@(Configuration["BaseAddress"] + item.ImagePath)" alt="Image" />
                                                </a>
                                                <p>@item.ProductName</p>
                                            </div>
                                        </td>
                                        <td><sup>đ</sup>@item.Price.ToString("0.##")</td>
                                        <td>
                                            <div class="qty">
                                                <button class="btn-minus">
                                                    <i class="fa fa-minus"></i>
                                                </button>
                                                <input type="text" value="@item.Quantity" />
                                                <button class="btn-plus">
                                                    <i class="fa fa-plus"></i>
                                                </button>
                                            </div>
                                        </td>
                                        <td>@item.SubTotal.ToString("0.####")</td>
                                        <td>
                                            <button><i class="fa fa-trash"></i></button>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="cart-page-inner">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="coupon">
                                <input type="text" placeholder="Coupon Code" />
                                <button>Apply Code</button>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="cart-summary">
                                <div class="cart-content">
                                    <h1>Cart Summary</h1>
                                    @* <p>Sub Total<span>$99</span></p>
                                    <p>Shipping Cost<span>$1</span></p> *@
                                    <h2>Grand Total<span>@Model.GrandTotal.ToString("0.####")</span></h2>
                                </div>
                                <div class="cart-btn d-flex justify-content-center align-items-center">
                                    @* <a class="btn" asp-action="UpdateCart">Update Cart</a>
                                    <div style="margin: 0 20px;"></div> <!-- Empty div for spacing --> *@
                                    <a class="btn" asp-action="CheckOut">Checkout</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Cart End -->