@model PagedResult<shop.ViewModels.Catalog.Products.ProductDetailVm>
@using shop.ViewModels.Common;

@{
    ViewData["Title"] = "Index";
}

@section Scripts{
    <script>
        setTimeout(function () {
            $('#msgAlert').fadeOut('slow');
        }, 2000);
    </script>
}

<div class="container-fluid">
    <h1 class="mt-4">Danh sách sản phẩm</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">Trang chủ</a></li>
        <li class="breadcrumb-item active">Danh sách sản phẩm</li>
    </ol>
    <div class="card mb-12">
        <div class="card-header">
            <div class="row">
                <div class="col-md-6 col-xs-12">
                    <a class="btn btn-primary" asp-action="Create" asp-controller="Product">Tạo mới</a>
                </div>
                <div class="col-md-6 col-xs-12">
                    <form asp-action="Index" method="get">
                        <div class="row">
                            <div class="col-md-4">
                                <input type="text" value="@ViewBag.Keyword" name="keyword" class="form-control" />
                            </div>
                            <div class="col-md-4">
                                <button type="submit" class="btn btn-primary">Tìm</button>
                                <button type="button" onclick="window.location.href='Product/Index'" class="btn btn-dark">Reset</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="card-body">
            <div class="row">
                @if (ViewBag.SuccessMsg != null)
                {
                    <div id="msgAlert" class="alert alert-success" role="alert">
                        @ViewBag.SuccessMsg
                    </div>
                }
            </div>
            <div class="table-responsive">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>
                                <a asp-action="ShowAllProduct" style="color: black">
                                    Product Name
                                    <i class="fas fa-cog"></i>
                                </a>
                            </th>
                            <th>
                                <a asp-action="Show" asp-controller="Material" style="color: black">
                                    Material
                                    <i class="fas fa-cog"></i>
                                </a>
                            </th>
                            <th>

                                <a asp-action="Show" asp-controller="Sizes" style="color: black">
                                    Size
                                    <i class="fas fa-cog"></i>
                                </a>

                            </th>
                            <th>
                                <a asp-action="Show" asp-controller="Color" style="color: black">
                                    Color
                                    <i class="fas fa-cog"></i>
                                </a>

                            </th>
                            <th>
                                Giá nhập
                            </th>
                            <th>
                                Giá bán
                            </th>
                            <th>
                                Số lượng tồn
                            </th>

                            <th>
                                Action
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Items)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.MaterialName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.SizeName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ColorName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.OriginalPrice)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Price)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Stock)
                                </td>
                                <td>
                                    <a href="@Url.Action("Edit", new { id = item.Id })">
                                        <i class="fas fa-edit"></i>
                                    </a> |
                                    <a href="@Url.Action("Delete", new { id = item.Id })">
                                        <i class="fas fa-trash"></i>
                                    </a> |
                                    <a href="@Url.Action("Details", new { id = item.Id })">
                                        <i class="fas fa-info-circle"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            @await Component.InvokeAsync("Pager",Model)
        </div>
    </div>
</div>