@model shop.ViewModels.Catalog.Stats.ViewModelAllStatistic

@{
    ViewData["Title"] = "Home Page";

}

<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Dashboard</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Dashboard v1</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->
<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
        <div class="row">
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-info">
                    <div class="inner">
                        <h3>@Model.OrderStatistics.CompletedOrderCount</h3>

                        <p>Số đơn hàng đã hoàn thành trong 30 ngày gần nhất và tổng tiền là: @Model.OrderStatistics.TotalMoney</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-bag"></i>
                    </div>
                    <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-success">
                    <div class="inner">
                        <h3>@Model.StatsVms.Revenue</h3>

                        <p>Doanh thu</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-stats-bars"></i>
                    </div>
                    <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-warning">
                    <div class="inner">
                        <h3>44</h3>

                        <p>User Registrations</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-person-add"></i>
                    </div>
                    <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-danger">
                    <div class="inner">
                        <h3>65</h3>

                        <p>Unique Visitors</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-pie-graph"></i>
                    </div>
                    <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
        </div>
        <!-- /.row -->
        <!-- Main row -->
        <div class="row">
            <div class="row d-flex">
                <div>
                    <h4>Export</h4>
                </div>
                <div class="col-lg-3 col-6">                   
                    <a class="btn btn-primary" href="@Url.Action("ExportMostSaleProduct","Home")" class="small-box-footer">Most Sale Product<i class="fa fa-download"></i></a>
                </div>
                <div class="col-lg-3 col-6">
                    <a class="btn btn-primary" href="@Url.Action("ExportOrderStatistic","Home")" class="small-box-footer">Order Statisitc By Date<i class="fa fa-download"></i></a>
                </div>
                <div class="col-lg-3 col-6">
                    <a class="btn btn-primary" href="@Url.Action("ExportStatistic","Home")" class="small-box-footer">Order Status<i class="fa fa-download"></i></a>
                </div>
                <div class="col-lg-3 col-6">
                    <a class="btn btn-primary" href="@Url.Action("ExportUserWithMostBuy","Home")" class="small-box-footer">Most Purchase Customer<i class="fa fa-download"></i></a>
                </div>
            </div>
            <div>
                <div>
                    <h4>Danh sách cần làm</h4>
                    <p>Những việc bạn sẽ phải làm</p>
                </div>
                <div style="padding: 0px 200px">
                    <table class="w-100 ">
                        <tr>
                            <td class="w-25" style="text-align: center">
                                <p>Chờ xác nhận</p>
                                <p style="color: #2673dd">@Model.StatsVms.PendingOrderCount</p>
                            </td>
                            <td class="w-25" style="text-align: center">
                                <p>Chờ lấy hàng</p>
                                <p style="color: #2673dd">@Model.StatsVms.AwaitingShipmentOrderCount</p>
                            </td>
                            <td class="w-25" style="text-align: center">
                                <p>Đã xử lý</p>
                                <p style="color: #2673dd">@Model.StatsVms.AwaitingPickupOrderCount</p>
                            </td>
                            <td class="w-25" style="text-align: center">
                                <p>Đơn hủy</p>
                                <p style="color: #2673dd">@Model.StatsVms.CancelledOrderCount</p>
                            </td>
                        </tr>
                        <tr>
                            @*<td>Trả hàng / Hoàn tiền chờ xử lý</td>*@
                            @*<td>Sản phẩm bị tạm khóa</td>*@
                            <td class="w-25" style="text-align: center"></td>
                            <td class="w-25" style="text-align: center">
                                <p>Sản phẩm hết hàng</p>
                                <p style="color: #2673dd">@Model.StatsVms.OutOfStockProductCount</p>
                            </td>
                            <td class="w-25" style="text-align: center">
                                <p>Sản phẩm ngừng bán</p>
                                <p style="color: #2673dd">@Model.StatsVms.StopSellingProductCount</p>
                            </td>
                            <td class="w-25" style="text-align: center"></td>
                            @*<td>Chương trình khuyến mãi chờ xử lý</td>*@
                        </tr>
                    </table>
                </div>
            </div>

        </div>
        <!-- /.row (main row) -->
    </div><!-- /.container-fluid -->
</section>
<!-- /.content -->